li{
    float: right;
    list-style:none;
}
img{
    padding:30px;
   border-radius:50%; 
   }
   div{
       border:solid black;
       width:30%;
       height:300;
   }
   a{
       text-decoration: none;
   }
